html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: $fs-main;
  background-color: $white;
  color: $black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.for-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}

.dis-scroll {
  overflow-y: hidden;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.p-reset {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1150px;
}

.title {
  margin: 0;
}

.btn {
  cursor: pointer;
  padding: 0;
  // font: $font;
  background-color: $black;
  color: $white;
}
